.Rproj.user
.Rhistory
.RData
.md
.png
.pdf
figure/
*.md
*.html
Lab2_KnowYourData.html
Lab5_SimulationAndPower.md
*.[md]
Lab2_KnowYourData.md
Lab3_DeterministicFunctions.html
Lab3_DeterministicFunctions.md
Lab4_StochasticDistributions.html
Lab4_StochasticDistributions.md
Lab5_SimulationAndPower.html
BaselineIENFD.csv
Bestiary of Functions - summary.pdf
Lab3_PickWinner_CurveMatching.html
Lab6_Likelihood.html
Lab7_Bayesian.html
StochasticDistributionsExamples.html
Lab8_StandardStatsRevisited.html
Lab6.5_WholeEnchilada_Analysis.html
Lab6.5_WholeEnchilada.html
Lab1_IntroToR.pdf
cache
lab1-old.pdf
Lab2_KnowYourData.html
Lab2_KnowYourData.md
Lab3_DeterministicFunctions.html
Lab3_DeterministicFunctions.md
