.Rproj.user
.Rhistory
.RData
.md
.png
.pdf
figure/
.md
.html
Lab2_KnowYourData.html
Lab5_SimulationAndPower.md
*.md
Lab2_KnowYourData.md
Lab3_DeterministicFunctions.html
Lab3_DeterministicFunctions.md
Lab4_StochasticDistributions.html
Lab4_StochasticDistributions.md
Lab5_SimulationAndPower.html
